In [3]:
from hilfsfunktionen import *
import pandas as pd
from IPython.display import display_html


from sqlalchemy import create_engine
import mysql.connector
from mysql.connector import errorcode

In [ ]:
df_social = pd.read_csv("./csv/socio_merged.csv")

In [6]:
mysql_usr = "" # mit eurem Nutzer ersetzen
mysql_pw = "" # mit eurem Passwort ersetzen

# Stellt sicher, dass der lokale MySQL Server gestartet wurde

connection = create_server_connection("localhost", mysql_usr, mysql_pw)

# Die Datenbank, in die wir den SQL Abzug vom Unternehmen PC-Power Markt einpflegen nennen wir "OLTP_DB"

# Falls bereits eine Datenbank namens "OLTP_DB" existiert, wird sie mit diesem Befehl gel√∂scht:
create_database_query = "DROP DATABASE IF EXISTS BI_Projekt;"
create_database(connection, create_database_query)

# Erstellen der Datenbank "OLTP_DB"
create_database_query = "CREATE DATABASE BI_Projekt;"
create_database(connection, create_database_query)


db_connection_str = 'mysql+pymysql://' + mysql_usr + ':' + mysql_pw + '@localhost/BI_Projekt'
db_connection = create_engine(db_connection_str)

MySQL Database connection successful
Database created successfully
Database created successfully

# Create Socialdata Database

In [15]:
query = "CREATE TABLE IF NOT EXISTS Socialdata (Land varchar(255), HDI float, `Life expactancy at birth in years` float, `Mean years of schooling in years` float, `Gross national income (GNI) per capita in US$` float, IHDI float, `Inequality in life expectancy in%` float, `Inequality in education in %` float, `Inequality in income in %` float, `Income Shares of top 1%` float, GINI float, `Gender Inequality Index` float, `Maternal mortality ratio per 100.000` float, `Share of female seats in parliament in %` float, `Employment to population ratio` float, `Employment in agriculture in %` float, `Employment in services in %` float, `Unemployment in %` float, `Child labour in %` float, `Working poor at PPP$3.20 a day in %` float, `High-skill to low-skill ratio` float, `Prison population per 100.000` float, `Homocide rate per 100.000` float, `Suicide rate (female) per 100.000` float, `Suicide rate (male) per 100.000` float, `Internet User in %` float, `Mobile phone subscriptions per 100 people` float, PRIMARY KEY (Land))"
connection = create_db_connection("localhost", mysql_usr, mysql_pw, "BI_Projekt")
execute_query(connection, query)

MySQL Database connection successful
Query successful

# Create Apple-Price Database

In [18]:
query = "CREATE TABLE IF NOT EXISTS Apple_Price_List (pid int, model varchar(255), price float, country_code varchar(255), country varchar(255), region varchar(255), `income group` varchar(255), scraped_date date, model_en varchar(255), price2 float, price_local_currency float, `Currency CodeA` varchar(255), X float, USD_Normalized float, USD_Normalized_MEAN float, PRIMARY KEY (country) )"
connection = create_db_connection("localhost", mysql_usr, mysql_pw, "BI_Projekt")
execute_query(connection, query)

MySQL Database connection successful
Query successful

# Create Exchange-Rate Database

In [27]:
query = "CREATE TABLE IF NOT EXISTS Exchange_Rate (Date date, `Currency CodeA` varchar(255), X float, PRIMARY KEY (`Currency CodeA`))"
connection = create_db_connection("localhost", mysql_usr, mysql_pw, "BI_Projekt")
execute_query(connection, query)

MySQL Database connection successful
Query successful

# Create CountryCode Database

In [22]:
query = "CREATE TABLE IF NOT EXISTS Country_Code (`Currency Name` varchar(255), `Country Name` varchar(255), `Alpha2 Code` varchar(255), `Currency CodeA` varchar(255), `Currency CodeN` varchar(255), `Minor Unit` varchar(255), PRIMARY KEY (`Alpha2 Code`))"
connection = create_db_connection("localhost", mysql_usr, mysql_pw, "BI_Projekt")
execute_query(connection, query)

MySQL Database connection successful
Query successful